* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 2.5vw; }

body {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  background-color: #fcfcfc; }
  body a {
    text-decoration: none; }
  body svg {
    display: block; }

header {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 3rem 0.4rem .7rem;
  position: fixed;
  width: 100%;
  z-index: 1500000;
  -webkit-transition: all .2s ease-out;
  box-shadow: 0rem 0rem 1vh rgba(0, 0, 0, 0.2);
  border-bottom: 0.5px solid rgba(117, 117, 117, 0.2); }
  header:hover {
    background-color: white; }
    header:hover nav #nav-list a {
      color: black; }
    header:hover nav #nav-list .nav-li:nth-of-type(7) a {
      color: #090B41;
      border: 1px solid #090B41; }
    header:hover nav #nav-list #logo #logo-img .cls-11 {
      fill: #191444; }
    header:hover #idioma-mobile p {
      color: black; }
  header.white {
    background-color: white; }
    header.white nav #nav-list a {
      color: black; }
    header.white nav #nav-list .nav-li:nth-of-type(7) a {
      color: #090B41;
      border: 1px solid #090B41; }
    header.white nav #nav-list #logo #logo-img .cls-11 {
      fill: #191444; }
    header.white #idioma-mobile p {
      color: black; }
  header #idioma-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    right: 1rem; }
    header #idioma-mobile p {
      font-size: 0.32rem;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
      display: inline-block;
      margin-right: .1rem;
      color: white; }
    header #idioma-mobile svg {
      width: .6rem;
      display: inline-block; }

nav h1 {
  position: absolute;
  opacity: 0; }

#logo-mobile {
  z-index: 45648888888;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  display: none; }
  #logo-mobile svg {
    height: 1.4rem; }

#nav-toggle {
  display: none; }
  #nav-toggle span {
    display: block;
    height: 0.8vw;
    width: 8vw;
    background-color: #090B41;
    margin-bottom: 1.2vw;
    -webkit-transform-origin: top right;
    -webkit-transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
    #nav-toggle span:nth-of-type(2) {
      width: 6vw; }
    #nav-toggle span:last-of-type {
      width: 4vw;
      margin-bottom: 0;
      -webkit-transform-origin: bottom right; }

nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: .4rem; }

nav #nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  nav #nav-list #logo {
    z-index: 45648888888;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; }
    nav #nav-list #logo #logo-img {
      -webkit-transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03);
      -webkit-transform-origin: center center; }
      nav #nav-list #logo #logo-img .cls-11 {
        fill: #fff; }
    nav #nav-list #logo svg {
      height: 1.3rem;
      -webkit-transition: transform 0.2s ease-out; }
      nav #nav-list #logo svg #letters {
        -webkit-transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03);
        -webkit-transform-origin: center center; }

nav #nav-list .nav-li {
  display: inline;
  list-style: none;
  position: relative;
  font-size: 0.32rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.05rem;
  margin-left: 1.2rem; }
  nav #nav-list .nav-li:first-of-type {
    margin-left: none; }
  nav #nav-list .nav-li#redblue-li {
    background: linear-gradient(110deg, #a31717 0%, #a31717 46%, #131a81 46%, #131a81 100%);
    padding: .15rem .25rem;
    border-radius: .4rem; }
    nav #nav-list .nav-li#redblue-li a {
      color: #fcfcfc; }
    nav #nav-list .nav-li#redblue-li.es {
      background: linear-gradient(110deg, #a31717 0%, #a31717 50%, #131a81 50%, #131a81 100%); }
  nav #nav-list .nav-li#soc-li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; }
    nav #nav-list .nav-li#soc-li a svg {
      display: inline;
      height: .62rem; }
    nav #nav-list .nav-li#soc-li a p {
      display: inline;
      margin-right: .2rem; }
  nav #nav-list .nav-li:nth-of-type(7) a {
    color: #fcfcfc;
    font-weight: 700;
    border: 1px solid #fcfcfc;
    padding: .15rem .2rem; }
  nav #nav-list .nav-li:nth-of-type(7) .underline {
    display: none; }
  nav #nav-list .nav-li:nth-of-type(7) a:hover {
    -webkit-animation: pop .5s ease-out forwards; }

@-webkit-keyframes pop {
  to {
    background-color: #090B41;
    color: #fcfcfc; } }
  nav #nav-list .nav-li a {
    color: white;
    text-transform: uppercase; }
    nav #nav-list .nav-li a .show-options {
      display: none;
      height: .3rem; }
  nav #nav-list .nav-li .underline {
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; }
    nav #nav-list .nav-li .underline .line {
      width: 0;
      height: 0.04rem;
      display: block;
      background-color: white; }
  nav #nav-list .nav-li:hover .underline {
    opacity: 1; }
  nav #nav-list .nav-li:hover .underline .line {
    -webkit-animation: slideIn .2s ease-out forwards; }
  nav #nav-list .nav-li:hover #under-servicios, nav #nav-list .nav-li:hover #under-standards, nav #nav-list .nav-li:hover #under-industrias {
    pointer-events: auto;
    -webkit-animation: showUnder .2s ease-out forwards; }
  nav #nav-list .nav-li:hover #under-servicios li, nav #nav-list .nav-li:hover #under-standards li, nav #nav-list .nav-li:hover #under-industrias li {
    pointer-events: auto;
    -webkit-animation: slideRight .2s ease-out forwards; }

@-webkit-keyframes showUnder {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-webkit-keyframes slideIn {
  0% {
    width: 10%; }
  70% {
    background-color: black; }
  100% {
    background-color: #090B41;
    width: 100%; } }

nav #under-servicios, nav #under-standards, nav #under-industrias {
  opacity: 0;
  -webkit-transform-origin: top center;
  pointer-events: none;
  background-color: white;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 100%;
  left: -70%;
  width: 235%;
  padding: .5rem;
  border-bottom-right-radius: .35rem;
  border-bottom-left-radius: .35rem; }
  nav #under-servicios#under-standards, nav #under-standards#under-standards, nav #under-industrias#under-standards {
    left: -25%;
    width: 150%; }
  nav #under-servicios#under-industrias, nav #under-standards#under-industrias, nav #under-industrias#under-industrias {
    left: -45%;
    width: 190%; }
  nav #under-servicios li, nav #under-standards li, nav #under-industrias li {
    list-style: none;
    -webkit-transform: translateX(-0.5rem);
    opacity: 0;
    margin-left: 0;
    margin-bottom: .5rem; }
    nav #under-servicios li:first-of-type, nav #under-standards li:first-of-type, nav #under-industrias li:first-of-type {
      margin-top: .5rem; }
    nav #under-servicios li:last-of-type, nav #under-standards li:last-of-type, nav #under-industrias li:last-of-type {
      margin-bottom: .1rem; }
    nav #under-servicios li:hover a, nav #under-standards li:hover a, nav #under-industrias li:hover a {
      color: #313184; }

#body-home {
  background-color: #fcfcfc; }

#banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #banner video {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1000; }
  #banner #slider {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%; }
  #banner h3 {
    font-size: 0.7rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: white;
    text-align: center;
    opacity: 0;
    -webkit-animation: moveInLeft forwards;
    -webkit-animation-delay: 1.8s;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    position: relative;
    top: 0;
    left: 0; }
  #banner .type-wrap {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: white;
    text-transform: uppercase;
    margin-bottom: 1rem; }
  #banner #arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5vh;
    left: 50%;
    -webkit-animation-name: moveUpDown;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out; }
    #banner #arrow p {
      font-size: 0.45rem;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      color: white;
      text-transform: uppercase;
      margin-bottom: .3rem;
      display: block; }
    #banner #arrow svg {
      display: block;
      height: 1rem;
      -webkit-transform: rotate(90deg); }

#contacto {
  width: 100%;
  padding: 5rem 3.5rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start; }

#contact-text {
  z-index: 5;
  color: black;
  text-align: left; }
  #contact-text h2 {
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #090B41; }
  #contact-text p {
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    width: 40%;
    margin-bottom: 1rem; }
  #contact-text a {
    font-size: 0.6rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: #090B41; }

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: white; }
  footer p {
    display: inline-block;
    font-size: 0.4rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: black; }
  footer .footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    footer .footer-info p {
      display: inline-block;
      margin-left: .5rem; }
    footer .footer-info img {
      height: 1.3rem; }
  footer .footer-contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    footer .footer-contacto a {
      display: inline-block;
      font-size: 0.4rem;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      color: black; }
    footer .footer-contacto svg {
      width: 0.5rem;
      display: inline-block;
      margin-right: 0.5rem; }
  footer .footer-socialmedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: uppercase; }
    footer .footer-socialmedia svg {
      width: 1rem;
      display: inline-block;
      margin-left: 0.5rem; }

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0); } }

@-webkit-keyframes moveUpDown {
  0% {
    -webkit-transform: translate(-50%, -1vh); }
  50% {
    -webkit-transform: translate(-50%, 0); }
  100% {
    -webkit-transform: translate(-50%, -1vh); } }

@-webkit-keyframes moveUp {
  0% {
    -webkit-transform: translateY(10vh); }
  100% {
    -webkit-transform: translateY(0); } }

.arrow {
  position: absolute;
  bottom: .7rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -webkit-animation-name: moveUpDown;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out; }
  .arrow svg {
    height: 1.1rem;
    -webkit-transform: rotate(90deg); }

.anchor {
  position: absolute;
  top: -4.5rem;
  left: 0;
  width: 100%; }

#about-us {
  color: black;
  background: linear-gradient(180deg, white 0%, rgba(255, 255, 255, 0.7) 40%), url(../img/us.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 4rem 3rem 4.5rem 3rem;
  width: 100%;
  position: relative; }
  #about-us h2 {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #090B41; }
  #about-us #about-text {
    font-size: 0.5rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.05rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
    #about-us #about-text .p-wrapper {
      margin-right: 3rem; }
    #about-us #about-text p {
      width: 100%; }

#services {
  background-color: #090B41;
  width: 100%;
  overflow-x: hidden;
  padding: 2rem 0 3.5rem 0;
  position: relative; }
  #services h2 {
    width: 100%;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: white; }
  #services #services-icons {
    display: grid;
    padding: .5rem 1.8rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: .5rem;
    cursor: pointer; }
    #services #services-icons .icon {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      #services #services-icons .icon img {
        height: 2rem; }
      #services #services-icons .icon:hover svg {
        stroke-dasharray: 800;
        stroke-dashoffset: 800;
        -webkit-animation: hoverIcon 1s ease-in-out forwards; }
      #services #services-icons .icon p:last-of-type {
        font-size: .6rem;
        font-weight: 400; }
    #services #services-icons svg {
      height: 1.5rem; }
    #services #services-icons p {
      font-size: 0.28rem;
      font-weight: 400;
      line-height: 1.6;
      letter-spacing: 0.05rem;
      width: 100%;
      text-align: center;
      margin-top: .5rem;
      color: white;
      text-transform: uppercase;
      text-align: center; }
  #services .services-text {
    padding: 2rem 5rem 0 5rem;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none; }
    #services .services-text.show {
      display: flex;
      position: relative;
      top: 0;
      left: 0;
      -webkit-animation: showit .5s ease-in-out forwards; }
    #services .services-text .service-info {
      width: 55%; }
      #services .services-text .service-info h3 {
        font-size: 0.7rem;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 0.05rem;
        margin-bottom: 1rem; }
      #services .services-text .service-info p {
        font-size: 0.5rem;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: 0.05rem;
        margin-bottom: 1rem; }
      #services .services-text .service-info a {
        font-size: 0.5rem;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 0.05rem;
        border: 0.04rem solid white;
        color: white;
        padding: .3rem .5rem;
        transition: 0.4s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
      #services .services-text .service-info a:hover {
        background-color: white;
        color: #090B41;
        border: none;
        box-shadow: 0rem 0rem 1vh rgba(255, 255, 255, 0.2); }
    #services .services-text .service-img img {
      display: block;
      height: 9rem; }

#standards {
  background-color: #090B41;
  width: 100%;
  overflow-x: hidden;
  padding: 2rem 0 3.5rem 0;
  position: relative; }
  #standards h2 {
    width: 100%;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: white; }
  #standards #standards-icons {
    display: grid;
    padding: .5rem 6rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    cursor: pointer; }
    #standards #standards-icons .icon-st {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      #standards #standards-icons .icon-st:hover svg {
        stroke-dasharray: 800;
        stroke-dashoffset: 800;
        -webkit-animation: hoverIcon 1s ease-in-out forwards; }
      #standards #standards-icons .icon-st p:last-of-type {
        font-size: .6rem;
        font-weight: 400; }
      #standards #standards-icons .icon-st img {
        height: 2.2rem; }
    #standards #standards-icons p {
      font-size: 0.28rem;
      font-weight: 500;
      line-height: 1.6;
      letter-spacing: 0.05rem;
      width: 100%;
      text-align: center;
      margin-top: .5rem;
      color: white;
      text-transform: uppercase;
      text-align: center; }
  #standards .standards-text {
    padding: 2rem 5rem 0 5rem;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none; }
    #standards .standards-text.show {
      display: flex;
      position: relative;
      top: 0;
      left: 0;
      -webkit-animation: showit .5s ease-in-out forwards; }
    #standards .standards-text .standards-info {
      width: 55%; }
      #standards .standards-text .standards-info h3 {
        font-size: 0.7rem;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 0.05rem;
        margin-bottom: 1rem; }
      #standards .standards-text .standards-info p {
        font-size: 0.5rem;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: 0.05rem;
        margin-bottom: 1rem; }
      #standards .standards-text .standards-info a {
        font-size: 0.5rem;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 0.05rem;
        border: 0.04rem solid white;
        color: white;
        padding: .3rem .5rem;
        transition: 0.4s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
      #standards .standards-text .standards-info a:hover {
        background-color: white;
        color: #090B41;
        border: none;
        box-shadow: 0rem 0rem 1vh rgba(255, 255, 255, 0.2); }
    #standards .standards-text .standards-img img {
      display: block;
      height: 9rem; }

#industrias {
  background-color: #fcfcfc;
  width: 100%;
  overflow-x: hidden;
  padding: 2rem 0 3.5rem 0;
  position: relative; }
  #industrias h2 {
    width: 100%;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: #090B41; }
  #industrias #industrias-icons {
    display: grid;
    padding: .5rem 1.8rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: .5rem;
    cursor: pointer; }
    #industrias #industrias-icons .icon-ind {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      #industrias #industrias-icons .icon-ind img {
        height: 2rem; }
      #industrias #industrias-icons .icon-ind:hover svg {
        stroke-dasharray: 800;
        stroke-dashoffset: 800;
        -webkit-animation: hoverIcon 1s ease-in-out forwards; }
      #industrias #industrias-icons .icon-ind p {
        color: #090B41;
        font-weight: 600; }
      #industrias #industrias-icons .icon-ind p:last-of-type {
        font-size: .6rem;
        font-weight: 700;
        color: #090B41; }
    #industrias #industrias-icons svg {
      height: 1.5rem; }
    #industrias #industrias-icons p {
      font-size: 0.28rem;
      font-weight: 400;
      line-height: 1.6;
      letter-spacing: 0.05rem;
      width: 100%;
      text-align: center;
      margin-top: .5rem;
      color: black;
      text-transform: uppercase;
      text-align: center; }
  #industrias .industrias-text {
    padding: 2rem 5rem 0 5rem;
    width: 100%;
    color: #090B41;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none; }
    #industrias .industrias-text.show {
      display: flex;
      position: relative;
      top: 0;
      left: 0;
      -webkit-animation: showit .5s ease-in-out forwards; }
    #industrias .industrias-text .industrias-info {
      width: 55%; }
      #industrias .industrias-text .industrias-info h3 {
        font-size: 0.7rem;
        font-weight: 700;
        line-height: 1.6;
        letter-spacing: 0.05rem;
        margin-bottom: 1rem; }
      #industrias .industrias-text .industrias-info p {
        font-size: 0.5rem;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 0.05rem;
        margin-bottom: 1rem;
        color: black; }
      #industrias .industrias-text .industrias-info a {
        font-size: 0.5rem;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 0.05rem;
        padding: .3rem .5rem;
        transition: 0.4s cubic-bezier(0.18, 0.57, 0.5, 1.03);
        background-color: #090B41;
        border: none;
        color: white;
        box-shadow: 0rem 0rem 1vh rgba(9, 8, 65, 0.2); }
      #industrias .industrias-text .industrias-info a:hover {
        border: 0.055rem solid #090B41;
        color: #090B41;
        background-color: transparent; }
    #industrias .industrias-text .industrias-img img {
      display: block;
      height: 9rem; }

@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0; } }

@-webkit-keyframes hoverIcon {
  to {
    stroke-dashoffset: 0; } }

@-webkit-keyframes showit {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-3rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

#banner-servicios {
  background: linear-gradient(140deg, #090B41 0%, rgba(9, 11, 65, 0.9) 100%);
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  padding: 1.5rem 3.5rem 0 3.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  #banner-servicios img {
    width: 40%; }
  #banner-servicios #arrow {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -webkit-animation-name: moveUpDown;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out; }
    #banner-servicios #arrow svg {
      height: 1.2rem;
      -webkit-transform: rotate(90deg); }
  #banner-servicios #service-intro {
    width: 40%;
    color: white; }
    #banner-servicios #service-intro h3 {
      font-size: 0.8rem;
      font-weight: 700;
      line-height: 1.3;
      letter-spacing: 0.05rem;
      margin-bottom: 1rem;
      text-transform: uppercase; }
    #banner-servicios #service-intro p {
      font-size: 0.45rem;
      font-weight: 300;
      line-height: 1.6;
      letter-spacing: 0.05rem; }

#types, #types2 {
  background-color: #fcfcfc;
  width: 100%;
  overflow-x: hidden;
  padding: 2rem 4rem 2rem 4rem; }
  #types h4, #types2 h4 {
    width: 100%;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: #090B41; }
  #types #sub, #types2 #sub {
    width: 100%;
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #252525; }
  #types #grid, #types2 #grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem; }
    #types #grid.three, #types2 #grid.three {
      grid-template-columns: 1fr 1fr 1fr; }
      #types #grid.three p, #types2 #grid.three p {
        text-align: center; }
      #types #grid.three.left p:last-of-type, #types2 #grid.three.left p:last-of-type {
        text-align: left; }
    #types #grid.two, #types2 #grid.two {
      grid-template-columns: 1fr 1fr; }
    #types #grid .checked, #types2 #grid .checked {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: .7rem; }
      #types #grid .checked svg, #types2 #grid .checked svg {
        height: 1.4rem; }
        #types #grid .checked svg path, #types #grid .checked svg polyline, #types2 #grid .checked svg path, #types2 #grid .checked svg polyline {
          stroke-width: 8;
          stroke: #090B41;
          fill: none; }
    #types #grid p:first-of-type, #types2 #grid p:first-of-type {
      font-size: 0.4rem;
      font-weight: 700;
      line-height: 1.6;
      letter-spacing: 0.05rem;
      width: 100%;
      text-align: center;
      color: #252525;
      text-transform: uppercase; }
      #types #grid p:first-of-type span, #types2 #grid p:first-of-type span {
        color: #090B41; }
    #types #grid p:nth-of-type(2), #types2 #grid p:nth-of-type(2) {
      font-size: 0.4rem;
      font-weight: 400;
      line-height: 1.6;
      letter-spacing: 0.05rem;
      width: 100%;
      color: #252525;
      margin: .5rem 0; }
    #types #grid ul li, #types2 #grid ul li {
      font-size: 0.4rem;
      font-weight: 400;
      line-height: 1.6;
      letter-spacing: 0.05rem;
      width: 100%;
      color: #252525;
      margin-bottom: .3rem; }

.call-to-action {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .call-to-action #wrapper {
    padding: .5rem 1rem;
    background-color: #090B41;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0rem 0rem 1vh rgba(59, 51, 114, 0.2); }
    .call-to-action #wrapper:hover {
      background-color: black;
      border: none;
      box-shadow: 0rem 0rem 1vh rgba(0, 0, 0, 0.2); }
  .call-to-action p {
    font-size: 0.4rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.05rem;
    color: white;
    text-transform: uppercase;
    display: inline; }
  .call-to-action svg {
    margin-left: .3rem;
    width: .6rem;
    display: inline; }
    .call-to-action svg path {
      fill: #fff; }

#banner-redblue {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, rgba(122, 7, 7, 0.8) 0%, rgba(163, 23, 23, 0.8) 50%, rgba(19, 26, 129, 0.8) 50%, rgba(19, 26, 129, 0.8) 100%), url(../img/redblue.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }
  #banner-redblue .type-wrap {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: white;
    text-transform: uppercase;
    margin-bottom: 1rem; }
  #banner-redblue #arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5vh;
    left: 50%;
    -webkit-animation-name: moveUpDown;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out; }
    #banner-redblue #arrow p {
      font-size: 0.45rem;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      color: white;
      text-transform: uppercase;
      margin-bottom: .3rem;
      display: block; }
    #banner-redblue #arrow svg {
      display: block;
      height: 1rem;
      -webkit-transform: rotate(90deg); }

#red-blue-about, #red-about, #blue-about {
  color: black;
  background: white;
  padding: 3rem;
  width: 100%;
  position: relative; }
  #red-blue-about h2, #red-about h2, #blue-about h2 {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    width: 100%;
    text-align: center; }
    #red-blue-about h2 span:first-of-type, #red-about h2 span:first-of-type, #blue-about h2 span:first-of-type {
      color: #A31717; }
    #red-blue-about h2 span:last-of-type, #red-about h2 span:last-of-type, #blue-about h2 span:last-of-type {
      color: #131A81; }
  #red-blue-about h3, #red-about h3, #blue-about h3 {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    margin-bottom: 1rem; }
  #red-blue-about#red-about, #red-about#red-about, #blue-about#red-about {
    background-color: #A31717;
    color: white;
    clip-path: polygon(0 4%, 100% 0, 100% 96%, 0% 100%);
    margin-top: -3rem; }
  #red-blue-about#blue-about, #red-about#blue-about, #blue-about#blue-about {
    background-color: #131A81;
    color: white;
    margin-top: -3rem;
    clip-path: polygon(0 4%, 100% 0, 100% 100%, 0% 100%);
    padding-bottom: 1rem; }
  #red-blue-about .about-section, #red-about .about-section, #blue-about .about-section {
    margin-bottom: 2rem; }
  #red-blue-about .about-text, #red-about .about-text, #blue-about .about-text {
    font-size: 0.5rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.05rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; }
    #red-blue-about .about-text p, #red-blue-about .about-text ul, #red-about .about-text p, #red-about .about-text ul, #blue-about .about-text p, #blue-about .about-text ul {
      width: 46.5%; }
    #red-blue-about .about-text .wrapper, #red-about .about-text .wrapper, #blue-about .about-text .wrapper {
      width: 46.5%; }
      #red-blue-about .about-text .wrapper p, #red-blue-about .about-text .wrapper ul, #red-about .about-text .wrapper p, #red-about .about-text .wrapper ul, #blue-about .about-text .wrapper p, #blue-about .about-text .wrapper ul {
        width: 100%; }

#banner-soc {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(104deg, rgba(9, 11, 65, 0.85) 0%, rgba(9, 11, 65, 0.6) 100%), url(../img/soc-main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }
  #banner-soc #slider {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%; }
  #banner-soc h3 {
    font-size: 0.7rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: white;
    text-align: center;
    opacity: 0;
    -webkit-animation: moveInLeft forwards;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    position: relative;
    top: 0;
    left: 0; }
  #banner-soc .type-wrap {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: white;
    text-transform: uppercase;
    margin-bottom: 1rem; }
  #banner-soc #arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5vh;
    left: 50%;
    -webkit-animation-name: moveUpDown;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out; }
    #banner-soc #arrow p {
      font-size: 0.45rem;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      color: white;
      text-transform: uppercase;
      margin-bottom: .3rem;
      display: block; }
    #banner-soc #arrow svg {
      display: block;
      height: 1rem;
      -webkit-transform: rotate(90deg); }

#soc-about {
  color: black;
  background: white;
  padding: 3rem;
  width: 100%;
  position: relative; }
  #soc-about .about-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; }
  #soc-about .about-text {
    width: 45%;
    font-size: 0.5rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.05rem; }
    #soc-about .about-text h3 {
      font-size: 0.8rem;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      margin-bottom: 1rem;
      color: #090B41; }

#soc-grid {
  background-color: white;
  width: 100%;
  color: black;
  padding: 0 3rem 3rem 3rem; }
  #soc-grid h3 {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    margin-bottom: 1rem;
    color: #090B41;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem; }
  #soc-grid #grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem; }
    #soc-grid #grid .checked {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: .7rem; }
      #soc-grid #grid .checked svg {
        height: 1.4rem; }
        #soc-grid #grid .checked svg path, #soc-grid #grid .checked svg polyline {
          stroke-width: 8;
          stroke: #090B41;
          fill: none; }
    #soc-grid #grid p {
      text-align: center;
      font-size: 0.45rem;
      font-weight: 400;
      line-height: 1.6;
      letter-spacing: 0.05rem;
      width: 100%; }
    #soc-grid #grid p:first-of-type {
      font-weight: 600;
      margin-bottom: .4rem; }

@media screen and (max-width: 1024px) {
  html {
    font-size: 7vw; }
  header {
    background-color: white;
    padding: 0.4rem;
    z-index: 454688888888; }
    header:hover nav #nav-list .nav-li:nth-of-type(7) a {
      color: #fcfcfc;
      border: none; }
    header #idioma-mobile {
      display: flex;
      right: calc(14vw + 0.8rem); }
      header #idioma-mobile p {
        color: black;
        font-size: .5rem; }
      header #idioma-mobile svg {
        width: .8rem; }
    header nav {
      left: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      header nav #logo-mobile {
        display: flex; }
      header nav #nav-toggle {
        z-index: 4788888888888;
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
      header nav #nav-list {
        padding: 1rem;
        display: block;
        position: absolute;
        top: calc(100% + .5rem);
        right: -.8rem;
        width: 60vw;
        background-color: #090B41;
        border-left: 0.5px solid rgba(117, 117, 117, 0.2);
        height: 100vh;
        -webkit-transform: translateX(100vw);
        -webkit-transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03);
        overflow-y: scroll; }
        header nav #nav-list .nav-li {
          display: block;
          margin: 0;
          margin-bottom: 1rem; }
          header nav #nav-list .nav-li#redblue-li {
            background: linear-gradient(110deg, #a31717 0%, #a31717 50%, #131a81 50%, #131a81 100%);
            padding: .15rem .25rem;
            border-radius: .2rem;
            text-align: center; }
            header nav #nav-list .nav-li#redblue-li a {
              color: #fcfcfc;
              text-align: center; }
          header nav #nav-list .nav-li:nth-of-type(7) a {
            color: #fcfcfc;
            font-weight: 500;
            border: none;
            padding: 0; }
          header nav #nav-list .nav-li:nth-of-type(7) a:hover {
            -webkit-animation: none; }
          header nav #nav-list .nav-li .underline {
            display: none; }
          header nav #nav-list .nav-li:nth-of-type(6) {
            background-color: transparent;
            padding: 0;
            border-radius: 0; }
          header nav #nav-list .nav-li#logo-li {
            display: none; }
          header nav #nav-list .nav-li a {
            color: #fcfcfc;
            font-size: .5rem; }
            header nav #nav-list .nav-li a p {
              display: inline-block; }
            header nav #nav-list .nav-li a .show-options {
              display: inline-block;
              position: absolute;
              right: 0; }
          header nav #nav-list .nav-li:last-of-type {
            margin-bottom: 2rem; }
          header nav #nav-list .nav-li svg polyline {
            stroke: #fff;
            fill: none;
            stroke-width: 3; }
        header nav #nav-list #under-servicios, header nav #nav-list #under-standards, header nav #nav-list #under-industrias {
          display: none;
          opacity: 1;
          pointer-events: visible;
          background-color: transparent;
          position: relative;
          top: 0;
          left: 0;
          width: auto;
          padding: 0;
          box-shadow: none; }
          header nav #nav-list #under-servicios#under-standards, header nav #nav-list #under-standards#under-standards, header nav #nav-list #under-industrias#under-standards {
            left: 0;
            width: auto; }
          header nav #nav-list #under-servicios li, header nav #nav-list #under-standards li, header nav #nav-list #under-industrias li {
            -webkit-transform: translateX(0);
            opacity: 1;
            margin-left: 0;
            margin-bottom: .5rem; }
            header nav #nav-list #under-servicios li:last-of-type, header nav #nav-list #under-standards li:last-of-type, header nav #nav-list #under-industrias li:last-of-type {
              margin-bottom: .1rem; }
            header nav #nav-list #under-servicios li a, header nav #nav-list #under-standards li a, header nav #nav-list #under-industrias li a {
              text-transform: none;
              font-weight: 300; }
        header nav #nav-list #idioma-li {
          display: none; }
        header nav #nav-list #logo {
          display: none; }
  #banner {
    height: 90vh;
    overflow-x: hidden; }
    #banner h3 {
      font-size: .8rem; }
    #banner #arrow {
      bottom: 2vh; }
    #banner #slider {
      width: 80%; }
    #banner video {
      width: 100vw;
      height: 100vh; }
  #banner-section p {
    width: 80%; }
  #about-us {
    padding: 4rem 2rem;
    width: 100%; }
    #about-us h2 {
      width: 100%;
      text-align: center; }
    #about-us #about-text {
      display: block;
      text-align: left; }
      #about-us #about-text p {
        width: 100%; }
        #about-us #about-text p:first-of-type {
          margin-bottom: 1rem; }
      #about-us #about-text .p-wrapper {
        margin-right: 0; }
  #services #services-icons {
    overflow-x: scroll;
    padding: .5rem 1rem;
    column-gap: 1.8rem; }
    #services #services-icons .icon:last-of-type {
      padding-right: 1rem; }
    #services #services-icons svg {
      height: 2rem; }
    #services #services-icons p {
      font-size: .35rem; }
  #services .services-text {
    padding: 2rem 2rem 0 2rem;
    display: none;
    flex-direction: column; }
    #services .services-text.show {
      display: flex; }
    #services .services-text .service-info {
      display: block;
      width: 100%;
      margin-bottom: 2rem; }
      #services .services-text .service-info a {
        width: 100%; }
    #services .services-text .service-img {
      display: block;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      #services .services-text .service-img img {
        height: 7rem; }
  #standards #standards-icons {
    display: grid;
    padding: .5rem 1rem; }
    #standards #standards-icons svg {
      height: 2rem; }
    #standards #standards-icons p {
      font-size: .35rem; }
  #standards .standards-text {
    padding: 2rem 2rem 0 2rem;
    display: none;
    flex-direction: column; }
    #standards .standards-text.show {
      display: flex; }
    #standards .standards-text .standards-info {
      display: block;
      width: 100%;
      margin-bottom: 2rem; }
      #standards .standards-text .standards-info a {
        width: 100%; }
    #standards .standards-text .standards-img {
      display: block;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      #standards .standards-text .standards-img img {
        height: 7rem; }
  #industrias #industrias-icons {
    overflow-x: scroll;
    padding: .5rem 1rem;
    column-gap: 1.8rem; }
    #industrias #industrias-icons .icon:last-of-type {
      padding-right: 1rem; }
    #industrias #industrias-icons svg {
      height: 2rem; }
    #industrias #industrias-icons p {
      font-size: .35rem; }
  #industrias .industrias-text {
    padding: 2rem 2rem 0 2rem;
    display: none;
    flex-direction: column; }
    #industrias .industrias-text.show {
      display: flex; }
    #industrias .industrias-text .industrias-info {
      display: block;
      width: 100%;
      margin-bottom: 2rem; }
      #industrias .industrias-text .industrias-info a {
        width: 100%; }
    #industrias .industrias-text .industrias-img {
      display: block;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      #industrias .industrias-text .industrias-img img {
        height: 7rem; }
  #contacto {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #090B41;
    background-image: none;
    overflow: hidden; }
  #contact-text {
    width: 100%;
    order: 1;
    text-align: center; }
    #contact-text p {
      font-size: 0.6rem;
      font-weight: 700;
      line-height: 1.6;
      letter-spacing: 0.05rem;
      width: 100%; }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer .footer-socialmedia, footer .footer-contacto {
      margin-top: 0.8rem; }
  #banner-servicios {
    height: auto;
    width: 100%;
    overflow-y: hidden;
    padding: 4rem 2rem 1rem 2rem;
    display: block; }
    #banner-servicios #arrow {
      display: none; }
    #banner-servicios img {
      width: 100%; }
    #banner-servicios #service-intro {
      width: 100%;
      margin-bottom: 1rem; }
  #types, #types2 {
    padding: 2rem; }
    #types #grid, #types2 #grid {
      display: block; }
      #types #grid .grid-item, #types2 #grid .grid-item {
        margin-bottom: 2rem; }
        #types #grid .grid-item:last-of-type, #types2 #grid .grid-item:last-of-type {
          margin-bottom: 0; }
  #red-blue-about, #red-about, #blue-about {
    padding: 3rem 2rem; }
    #red-blue-about#red-about, #red-blue-about#blue-about, #red-about#red-about, #red-about#blue-about, #blue-about#red-about, #blue-about#blue-about {
      clip-path: none; }
    #red-blue-about .about-text, #red-about .about-text, #blue-about .about-text {
      font-size: 0.5rem;
      font-weight: 500;
      line-height: 1.6;
      letter-spacing: 0.05rem;
      display: block; }
      #red-blue-about .about-text p, #red-blue-about .about-text ul, #red-about .about-text p, #red-about .about-text ul, #blue-about .about-text p, #blue-about .about-text ul {
        width: 100%; }
      #red-blue-about .about-text .wrapper, #red-about .about-text .wrapper, #blue-about .about-text .wrapper {
        width: 100%; }
        #red-blue-about .about-text .wrapper p, #red-blue-about .about-text .wrapper ul, #red-about .about-text .wrapper p, #red-about .about-text .wrapper ul, #blue-about .about-text .wrapper p, #blue-about .about-text .wrapper ul {
          width: 100%; }
  #banner-soc #slider {
    width: 90%; }
  #soc-about {
    padding: 3rem 2rem; }
    #soc-about .about-section {
      display: block; }
    #soc-about .about-text {
      width: 100%; }
      #soc-about .about-text:first-of-type {
        margin-bottom: 2rem; }
  #soc-grid {
    background-color: white;
    width: 100%;
    color: black;
    padding: 0 2rem 0 2rem; }
    #soc-grid #grid {
      display: block; }
      #soc-grid #grid .grid-item {
        margin-bottom: 1.5rem; } }

@media screen and (orientation: landscape) and (max-width: 1024px) {
  html {
    font-size: 5vw; }
  header {
    padding: 0.3em 0.5rem; }
    header #nav-list {
      top: calc(100% + .3rem); }
    header #idioma {
      right: 3rem; }
  #nav-toggle {
    -webkit-transform: scale(0.6); }
  #banner {
    height: 130vh; }
    #banner h3 {
      font-size: 1rem; }
    #banner #btn {
      font-size: 0.4rem; }
    #banner video {
      width: 100vw;
      height: 130vh; } }

@media screen and (min-width: 767px) and (max-width: 1024px) {
  html {
    font-size: 4vw; } }
